// @name Layout
// @description All layout settings and styles

// Default spacing unit
$spacer: 20px;

.container {
    width: 75%;
    margin: 0 auto;
    padding: 0 $spacer;
}

.section-title {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: ($spacer * 2);
    margin-bottom: ($spacer);
    text-align: left;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}
